
form {
  background-color: #f9f9f9; /* Cambiado a un tono más suave de blanco */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #999;
 }
/* Estilo de los campos de entrada */
input {
  width: calc(100% - 20px);
  padding: 12px; /* Aumentado el tamaño del relleno para mejorar la accesibilidad */
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px; /* Ligeramente redondeado los bordes */
  transition: border-color 0.3s ease; /* Añadida transición para el color del borde */
}


/* Cambio de estilo para cuando el campo de entrada está enfocado */
input:focus {
  border-color: #007bff; /* Cambiado el color del borde cuando el campo está enfocado */
}

/* Estilo del botón */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px; /* Aumentado el tamaño del relleno para mejorar la accesibilidad */
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Botón con ancho completo */
  display: inline-block; /* Añadido para asegurar que el botón ocupe el ancho completo */
}

/* Estilo del botón al pasar el cursor */
button:hover {
  background-color: #0056b3;
}

/* Estilo del encabezado */
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333; /* Cambiado el color del texto para que sea más oscuro */
}
