
.sidenav {
  width: 200px;
  height: calc(100vh - 60px); /* 100% del viewport height menos la altura del navbar */
  position: fixed;
  left: 0;
  top: 72px; /* Ajusta aquí la altura de tu navbar */
  background-color: #111;
  padding-top: 20px;
  color: white;
  margin-top: auto;
}


.sidenav h1 {
  color: white;
  text-align: center;
}

.sidenav nav ul {
  list-style-type: none;
  padding: 0;
}

.sidenav nav ul li {
  padding: 8px;
  text-align: center;
}

.sidenav nav ul li a,
.sidenav nav ul li .menu-item {
  color: white;
  text-decoration: none;
  display: block;
}

.sidenav nav ul li .submenu {
  padding-left: 20px;
}

.sidenav nav ul li .submenu li {
  text-align: left;
}

nav ul li .menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: #333;
}

nav ul li .menu-item:hover {
  background-color: #32E0E6;
  color: #fff;
}

nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #32E0E6;
  color: #fff;
}

nav ul li a svg, .menu-item svg {
  margin-right: 8px;
}

.logout-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #dc3545;;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #c0392b;
  color: white; /* Cambia el color del texto al hacer hover */
  transition: background-color 0.3s ease; /* Añade una transición suave */
}


/* Media query para hacer que el sidebar sea responsive */
@media screen and (max-width: 768px) {
  .sidenav {
    width: 100%; /* Ancho completo en pantallas pequeñas */
    padding-top: 60px; /* Ajuste para el espacio del encabezado */
  }
}
